
.button {
  background-color: #E6D5B8;
  border-radius: 0.5rem;
  border: none;

  padding: 0.4rem 1rem;
  color: #2f2d28;
  font-weight: 500;
}

.button:hover {
  background-color: #eedfc4;
  cursor: pointer;
}

.button:active {
  background-color: #E6D5B8;
  cursor: pointer;
}